.leftSide .bottom i {
    background: url('../images/navIC.png') no-repeat;
    background-size: 500%;
}

.bg {
    background: url('../images/bg.jpg') no-repeat top center;
    background-size: cover;
}

.leftSide .sticker div {
    background: url('../images/sticker.png') no-repeat;
    background-size: 100%;
}