html {
    width: 100%;
    height: 100%;
    background: $mainBG_2;

    ::-webkit-scrollbar {
        width: 10px;
        height: 10px;
    }

    ::-webkit-scrollbar-track {
        border-radius: 10px;
        background: $track;
    }

    ::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background: $thumb;
    }

    body {
        width: 100%;
        height: auto;
        position: relative;

        //header
        header {
            width: 100%;
            min-width: 1000px;
            height: 66px;
            @include headerBG;

            .center {
                width: 1400px;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                margin: 0 auto;

                p {
                    font-size: 24px;
                    margin-right: 20px;
                    letter-spacing: 3px;
                }

                button {
                    width: 110px;
                    height: 35px;
                    @include headerBtn;
                }
            }
        }

        //main {
        main {
            width: 1400px;
            height: auto;
            background: $mainBG_1;
            padding: 8px 8px 0; 
            box-sizing: border-box;
            display: flex;
            margin: 0 auto;

            .leftSide {
                width: 235px;
                height: auto;
                margin-right: 8px;
                flex-shrink: 0;

                .top {
                    width: 100%;
                    height: 102px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-bottom: 8px;
                    @include headerBG;

                    .sticker {
                        width: 64px;
                        height: 64px;
                        @include sticker;
                        display: flex;
                        align-items: flex-end;
                        justify-content: center;

                        div {
                            width: 51px;
                            height: 57px;
                        }
                    }

                    .info {
                        width: 147px;
                        height: 64px;
                        box-sizing: border-box;
                        padding: 5px 10px;

                        p {
                            font-size: 15px;
                            margin-bottom: 10px;
                            letter-spacing: 1px;

                            span {
                                padding-left: 3px;
                            }
                        }
                    }
                }

                .bottom {
                    width: 100%;
                    height: auto;

                    ul {
                        width: 100%;
                        overflow-y: auto;

                        li {
                            width: 100%;
                            height: 42px;
                            @include nav;

                            &.title {
                                height: 30px;

                                p {
                                    padding-left: 10px;
                                }
                            }

                            i {
                                display: block;
                                width: 24px;
                                height: 24px;
                                margin: 0 15px 0 10px;

                                &.boxing {
                                    background-position-x: 0;
                                }
                                &.golf {
                                    background-position-x: 25%;
                                }
                                &.badminton {
                                    background-position-x: 50%;
                                }
                                &.tableball {
                                    background-position-x: 75%;
                                }
                                &.volleyball {
                                    background-position-x: 100%;
                                }
                            }
                        }
                    }
                }
            }

            article {
                width: 100%;
                height: auto;
                
                .mainBox {
                    width: 100%;
                    height: auto;
                    display: flex;
                    justify-content: space-between;

                    .wrap {
                        width: 34%;
                        height: auto;
                        background: $commonBG_1;
                        border-right: solid 3px $mainBG_1;

                        &:last-child {
                            border: none;
                        }

                        .title {
                            width: 100%;
                            height: 40px;
                            @include linearHeader;
                        }

                        .top {
                            width: 100%;
                            height: auto;
                            border-bottom: solid 1px $commonBorder_1;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            padding: 15px 0;
                            flex-direction: column;

                            .inputBox {
                                display: flex;
                                align-items: center;
                                height: 40px;
                                width: 100%;
                                justify-content: center;

                                .smallTitle {
                                    font-size: 15px;
                                    font-weight: bold;
                                    color: $title_1;
                                    margin-right: 25px;
                                    letter-spacing: 1px;
                                }

                                input {
                                    width: 220px;
                                    height: 32px;
                                    @include commonInput;
                                }
                            }
                        }

                        .bottom {
                            width: 100%;
                            height: auto;
                            box-sizing: border-box;
                            padding: 15px 20px;
                            
                            .remind {
                                font-size: 15px;
                                font-weight: bold;
                                color: $remind_1;
                                letter-spacing: 1px;

                                span {
                                    color: $remind_2;
                                }
                            }

                            ul {
                                width: 100%;
                                margin-top: 15px;
                                box-sizing: border-box;
                                padding: 0 5px;
                                overflow-y: auto;

                                li {
                                    width: 100%;
                                    height: 55px;
                                    @include listBtn;
                                    margin-bottom: 10px;

                                    &:hover,&:active,&.active {

                                        label {

                                            &::before {
                                                background: $commonBG_1 !important;
                                                border: none !important;
                                                box-shadow: none !important;
                                            }
                                        }
                                    }

                                    .inputBox {
                                        width: auto;
                                        height: 100%;
                                        display: flex;
                                        align-items: center;
                                        margin-right: 3px;
                                        flex-shrink: 0;

                                        label {
                                            @include checkbox;
                                            margin: 0 20px;

                                            input {
                                                opacity: 0;
                                            }
                                        }
                                    }

                                    .wordBox {
                                        width: auto;
                                        height: 100%;
                                        display: flex;
                                        align-items: center;

                                        p {
                                            letter-spacing: 2px;

                                            &:nth-of-type(1) {
                                                margin-right: 6px;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                .btnBox {
                    width: 100%;
                    height: 80px;
                    margin-top: 10px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background: $commonBG_1;

                    button {
                        width: 200px;
                        height: 50px;
                        @include saveBtn;
                    }
                }
            }
        }

        //bg
        .bg {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -999;
        }
    }
}